* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.video-section {
  margin: 0;
}
.about-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 100px;
}
.history-section {
  padding: 60px;
  display: grid;
  grid-template-columns: 100px 100px 300px;
  grid-gap: 20px;
  justify-content: center;
}
.images {
  display: flex;
  flex-direction: column;
}
